{
    "local": {
        "server": "192.168.1.30",
        "buses": {
            "hd44780": {
                "LCD_RS": "P8_15",
                "LCD_D4": "P8_11",
                "LCD_D5": "P8_12",
                "LCD_D6": "P8_13",
                "LCD_D7": "P8_14"
            },
            "nokia": {
                "LCD_DC": "P9_26",
                "LCD_RST": "P9_25",
                "LCD_LED": "P9_27",
                "LCD_SCLK": "P9_14",
                "LCD_DIN": "P9_12"
            }
        },
        "controls": {
            "0": {
                "display": {
                   "type": "hd44780",
                   "width": 20,
                   "height": 4,
                   "pin": "P9_15"
                },
                "hardware": "instructions",
                "pins": {
                }
            },
            
            "1": {
                "display": {
                   "type": "hd44780",
                   "width": 16,
                   "height": 2,
                   "pin": "P9_13"
                },
                "hardware": "illuminatedbutton",
                "pins": {
                    "BTN": "P9_X",
                    "LED": "P9_X"
                }
            }
        } 
    },
    "interface": {
        "ip": "192.168.1.2",
        "controls": [
            
            {
                "id": "1",
                "width": 16,
                "gamestart": 1,
                "supported": [
                    {
                        "type": "button"
                    },
                    {
                        "type": "toggle",
                        "assignable": 1
                    }
                ]
            }
        ]
    }
}
